/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.loader {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
  transform-origin: 50% 50%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  inset: -4px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #0000;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    spinner-fade 1.2s linear infinite;
}
.loader:before {
  border-top-color: #431dcf;
}
.loader:after {
  border-top-color: #ff3d00;
  animation-delay: 0.4s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  25%,
  75% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

.form-container {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  text-align: center;
  margin: 0 auto 32px;
}
input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline-color: transparent;
  outline-offset: 4px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

input:hover {
  border-color: #000;
}
input:focus {
  border-color: #4e75ff;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}
.gallery {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.gallery-item {
  border: 1px solid #000;
  text-decoration: none;
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-image {
  width: 360px;
  height: 200px;
}
.parameters {
  display: flex;
  gap: 28px;
  justify-content: center;
  font-family: 'Montserrat';
}
.img-parameter {
  text-align: center;
  padding-top: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.img-parameter-quantity {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.more-img {
  display: flex;
  max-width: 1440px;
  text-align: center;
  margin: 32px auto;
}
